@mixin bordered ($color) {
    border-top: 1px solid $color;
    border-bottom: 1px solid $color;

}

@mixin btn_styled ($color, $font_color, $raduis) {
    background-color: $color;
    color: $font_color;
    border-radius: $raduis;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

@mixin font_formated($font_name, $font_size, $font_waight, $color) {
    font-family: $font_name;
    font-size: $font_size;
    font-weight: $font_waight;
    color: $color;
}