$background_color: black;
$font_color: white;
$card_border_radius: 10px;
$font_family: "Roboto";

$color: (
    'background_color': black,
    'font_color': white,
    "accent_color": rgb(171, 8, 180)
);

$raduis: (
    'card_raduis': 10px,
    'btn_raduis': 4px,
);

$margin: (
    'block_margin': 40px,
    'gap': 20px)